html,
body {
  overflow: hidden;
  background-color: transparent;
  font-family: system-ui;
}

body {
  padding: 0; 
  border: 0; 
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.SWAGContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.SWAGContainer.--topLevel {
  position: fixed;
}

#unity-canvas {
  z-index: 1;
}

#swag-container {
  z-index: 2;
  pointer-events: none;
}

/*
  Branding Animation Video
*/

.SWAGBrandingAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  z-index: 99999;
  background-color: black;
}

.SWAGBrandingAnimation video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 
  Ads 
*/

#swag-ad-container {
  z-index: 2;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
}

.SWAGAd {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: all;
  user-select: none;
}

/* 
  Banners
*/

#swag-banner-container {
  z-index: 1;
}

.SWAGBanner {
  position: absolute;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
}

/* Leaderboard */
.SWAGBanner.--size-728x90 {
  width: 728px;
  height: 90px;
}

/* Medium */
.SWAGBanner.--size-300x250 {
  width: 300px;
  height: 250px;
}

/* Mobile */
.SWAGBanner.--size-320x50 {
  width: 320px;
  height: 50px;
}

/* Main */
.SWAGBanner.--size-468x60 {
  width: 468px;
  height: 60px;
}

/* Large Mobile */
.SWAGBanner.--size-320x100 {
  width: 320px;
  height: 100px;
}

.SWAGBanner.--pivot-topLeft {
  transform: translateX(0%) translateY(100%);
}

.SWAGBanner.--pivot-topCenter {
  transform: translateX(-50%) translateY(100%);
}

.SWAGBanner.--pivot-topRight {
  transform: translateX(-100%) translateY(100%);
}

.SWAGBanner.--pivot-middleLeft {
  transform: translateX(0%) translateY(50%);
}

.SWAGBanner.--pivot-middleCenter {
  transform: translateX(-50%) translateY(50%);
}

.SWAGBanner.--pivot-middleRight {
  transform: translateX(-100%) translateY(50%);
}

.SWAGBanner.--pivot-bottomLeft {
  transform: translateX(0%) translateY(0%);
}

.SWAGBanner.--pivot-bottomCenter {
  transform: translateX(-50%) translateY(0%);
}

.SWAGBanner.--pivot-bottomRight {
  transform: translateX(-100%) translateY(0%);
}
